{% include "blog/base.html" %}

{% block title %}<title>KingStar's Blog</title>{% endblock %}

{% block body %}
    <div class="containter">
        <div class="display-3 text-center"> {{ category }}</div>
        <div class="row mr-0">   
            {% if articles %}
                {% block content %}
                    {% include "blog/content.html" %}
                {% endblock %}
            {% else %}
                No Articles to Display
            {% endif %}
        </div>
    </div>
{% endblock %}