{% include "blog/base.html" %}

{% block title %}<title>KingStar's Blog</title>{% endblock %}

{% block body %}
    <div class="containter">
        <div class="row">   
            {% if articles %}
                {% for article in articles %} 
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" style="height: 250px;"
                            src="{{ article.image.url }}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title h1">{{ article.title }}</h5>
                            <p class="card-text"> {{ article.content|safe|truncatechars:50 }}</p>
                            <a href="{% url 'detail'   article.slug  %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                No Articles to Display
            {% endif %}
        </div>
    </div>
{% endblock %}